body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('img.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 28px;
}

#content-el{
    margin-top: 4%;
}

h1{
    color: goldenrod;
    font-size: 60px;
}

#message-el{
    font-style: italic;

}

button{
    background-color: goldenrod;
    color: #016f32;
    width: 180px;
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}